name: Preview
on:
  pull_request:
    types: [opened, synchronize]

jobs:
  preview:
    name: Publish Previews
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x
      - uses: actions/setup-node@v4
        with:
          node-version: 20.x

      - name: Get changed packages
        id: changed
        run: deno run -A tasks/preview-matrix.ts

      - name: Build and publish previews
        if: steps.changed.outputs.workspaces != ''
        run: |
          for workspace in ${{ steps.changed.outputs.workspaces }}; do
            deno run -A tasks/build-npm.ts "$workspace"
          done

          dirs=""
          for workspace in ${{ steps.changed.outputs.workspaces }}; do
            dirs="$dirs ./$workspace/build/npm"
          done
          npx pkg-pr-new publish $dirs
